/* styles.css */


body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
}

.container {
    display: flex;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.sidebar {
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo .imge {
    border-radius: 50%;
    background-color: #FFC107;
    height: 50px;
    width: 50px;
    color: #e9b722;

}

.logo {
    font-size: 24px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 700;
    display: flex;
    align-items: center;
    padding: 40px;
    gap: 10px;
    height: 10%;
    border-bottom-style: groove;
    border-bottom-width: 2px;
}

aside {
    border-right-style: groove;
    border-right-width: 2px;   
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 1100px;
}

.right-side {
 width: 45%;
}

.left-side {
    width: 55%;
}

.logo .bee {
    color: rgb(211, 211, 62);
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 90%;
    margin-top: 0%;
    padding: 0%;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display:flex;
    justify-content: flex-start;
    gap:20px;
    align-items: center;
    color: #7D848C;
    font-family: Urbanist;
     font-size: 15px;
     font-weight: 400;
     line-height: 18px;
     letter-spacing: 0.8065326809883118px;
     text-align: left;     
     margin-left: 40px;
     margin-top: 0%;
     padding-bottom: 20px;
}



nav ul li img {
    text-decoration: none;
    display: block;
    width: 24px;
height: 24px;
top: 157px;
left: 40px;
color: #7D848C;
}

.bottom-menu {
    text-align: left;
    margin-bottom: 20px;
    margin-left: 40px;
    padding: 10px;
    font-family: Urbanist;
font-size: 15px;
font-weight: 400;
line-height: 18px;
letter-spacing: 0.8065326809883118px;
text-align: left;
color: #7D848C;
height: 10%;
}

.bottom-menu li {
    display:flex;
    justify-content: flex-start;
    gap:20px;
    align-items: center;
    color: #7D848C;
    font-family: Urbanist;
     font-size: 15px;
     font-weight: 400;
     line-height: 18px;
     letter-spacing: 0.8065326809883118px;
     text-align: left;     
     margin-left: 40px;
     margin-top: 0%;
     padding-bottom: 20px;
}

.bottom-menu a {
    display: block;
    text-decoration: none;
    color: black;
    margin: 10px 0;
}

.content {
    flex-grow: 1;
    padding: 20px;
    margin: 40px;
    margin-top: 10px;
}


.profile-header {
    margin-bottom: 20px;

}

.profile-header section {
    /* margin: 10px; */
    padding: auto;
}

header{
    display: flex;
    flex-direction: row;
    width: 90%;
    gap: 40px;
}


.profile-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    flex-wrap: wrap;
}



.profile-picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.profile-picture img {
    border-radius: 50%;
    width: 240px;
height: 240px;
top: 133px;
left: 438px;
gap: 0px;
opacity: 0px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    margin-top: 10px;
    font: 1em sans-serif;
    font-weight: bold;
}

.form-group input,
.form-group textarea,
.form-group select {
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 16px;
    background: rgba(247, 247, 248, 1);
}

.form-group.gender-dob {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}

.form-group #email {
    position: relative;
} 

.verified-check{
    position: absolute;
    right: 208px;
    bottom: 68%;
}

.passwordverified-check {
    position: absolute;
    right: 208px;   
    bottom: 34%;
}

.dobgender {
    display: flex;
    flex-direction: column;
    width: 100%;
}


a {
    color: #7D848C; /* Or any other desired color */
    text-decoration: none; /* Remove underline */
  }
  


.pricing-options div {
    display: flex;
    flex-direction: row;
    margin: 0%;
    padding: 0%;
    background: rgba(247, 247, 248, 1);
}

.pricing-options div label {
    width: 80%;
    background: rgba(247, 247, 248, 1);
    color: #7D848C;
    font-weight: lighter;
    height: 0%;
    margin: 0%;
}

.pricing-options div input {
margin: 0%;
padding: 0%;
border: #7D848C;
width: 40px;
border-left-style: groove;
border-radius: 0%;
border-width: 1px;
justify-content: right;
}


.form-actions {
    grid-column: span 2;
    text-align: right;
    margin-right: 100px;
    margin-top: 50px;
    padding-bottom: 50px;
}

.cancel-button,
.save-button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    width: 150px;
    height: 40px;
    text-align: center;
}

.cancel-button {
    background-color: white;
    border-color: #FFC107;
    color: #FFC107;
    margin-right: 10px;
    border: 2px solid;
}

.save-button {
    background-color: #FFC107;
    color: black;
}

@media (max-width: 768px) {
    body {
      flex-direction: column; /* Stack sections vertically */
    }
  }
  